.player-board-card-list { 
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 50px;
}

.player-board-btn-restart {
    width: 150px;
    margin: auto;
    cursor: pointer;
}