.register-player-list {
    width: 150px;
    margin: auto;
}

.register-player-list li {
    text-align: left;
}

.register-player-add {
    margin-left: 10px;
    background: #444;
    color: white;
    padding: 5px 15px;
    border: #444;
}

.register-player-name {
    padding: 5px 10px;
    border-radius: 3px;
}