.intro-wrapper {
    width: 768px;
    margin: auto;
    text-align: center;
    padding: 100px;
}

.intro-title {
    font-size: 60px;
}

.intro-btn-start {
    margin-top: 30px;
    width: 150px;
    cursor: pointer;
}